
@media (min-width: 769px){
	body>header>ul {
		margin-top: 24px;
	}
	article, main>header { max-width:750px !important; margin: 0 auto !important;}
	
	/* page-creation & page-edtion */
	article.page-manager { min-width:95% !important; margin: 0 auto !important;}
	
}
@media (max-width: 768px){
	/* All articles rules */
	main { margin: 0 20px !important;}
	article {margin-left:20px;}
}


