.lightColor {background-color: rgba(47,100,148,.5)!important;}

body {background-color:#f8f9fa!important;}

header, footer {background:lightgrey;}

/* First header rules */
body>header figure img {margin-top:13px; margin-left:3px;}
body>header a {margin-top:20px !important;}

figure {margin: 0px;}

.subtitle {color:white; font-size:17px; font-style:italic;}

h2, h3, h4, h5, h6, p {background-color:#f8f9fa!important; color: #6c757d!important;}

/* Bootstrap bg-secondary = #6C757D */
.page-manager p, p.page-edition {background-color:#6C757D!important;}

a, header a:hover, footer a:hover {color: rgba(47,100,148,.5)!important;}

header figure img {margin-top:13px; margin-left:13px;}
header h1 {
	margin-top: -4px !important;
    margin-bottom: -3px;
    margin-left: -20px;
}
article {background-color: #f8f9fa!important;}

main {min-height:400px; background-color: #f8f9fa!important;}

table.riasec-questions-manager td  {padding: 0 15px;}
table.riasec-questions-manager  {border: 1px dotted black;}
table.riasec-questions-manager tr  {border-top: 1px dotted black;}

td, th {text-align:center !important;}

td.questions_radio {white-space:nowrap; text-align:left !important;}

article h3 {font-style: italic; font-size:1.5em;}

/* First view header rules */
main>header { margin-top: 20px !important;}

.row { margin: 0; padding: 0;}

/* Questionnaire RIASEC */
form.questionnaire {margin-top:2px; padding-top: 2px;}
.question {border-bottom:1px dotted black;}


/* modal exists in Bootstrap framework ! */
.modalLightCMS { padding:25px; background-color:lightgreen; } /* modal  ~  popup pour messages dans contrôleur */

.textLightColor, header a, footer a {color: #fff!important;}

.text-success {color: #94c11f!important;}

.finalResult { text-align:center;}
.finalResultLetter { font-size:7em; letter-spacing:20px; font-weight:300; /* border-bottom: 1px dotted blue;*/ }
.finalResultUser {font-style:italic; font-size:2em; font-weight:100; border-bottom: 1px dotted blue; margin-left:20px; }

footer i {font-weight:lighter;}


footer { margin: 20px 0 0 0; border-top: 1px solid white !important; padding: 20px 0 50px 0; font-style:italic !important;}
footer p, footer ul { margin:15px !important;}
address { 
	margin:0 30px !important;
	font-weight:lighter !important;
	font-style:italic !important;
	color:#6c757d!important;
}