h3 {
	margin-top: 20px;
}

.table_constants td {
	border: 1px dotted white;
	padding: 10px;
}

.table_constants th {
	border: 1px dotted #22609E;
	padding: 10px;
	background-color: white;
	color: #22609E !important;
	text-align: center;
}
input {
	text-align:left !important;
}
